<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex items-center justify-center">
        <img src="../static/loader.gif" alt="Loading">
        <h2 class="text-2xl font-bold tracking-wider text-blue-500">Fetching tweets from Twitter...</h2>
    </div>

    <script>
        window.location.replace('/sentiment-analysis')
    </script>
</body>
</html>