<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Fake News Detector</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        font-family: "Montserrat", sans-serif;
      }
      .left {
        border-right: 1px solid rgb(156 163 175);
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar px-6 py-2 flex flex-row justify-between items-center"
      id="navbar"
    >
      <img src="../static/logo.png" alt="Logo" class="w-28 h-28" />
      <ul class="flex flex-row justify-between items-center">
        <li>
          <a href="/" class="mr-8 text-[#54264D] font-bold text-l">HOME</a>
        </li>
        <li>
          <a href="/about_us" class="mr-8 text-[#54264D] font-bold text-l"
            >ABOUT US</a
          >
        </li>
        <li>
          <a href="/working" class="mr-8 text-[#54264D] font-bold text-l"
            >HOW IT WORKS</a
          >
        </li>
        <li>
          <a href="/references" class="mr-8 text-[#54264D] font-bold text-l"
            >REFERENCES</a
          >
        </li>
      </ul>
    </nav>

    <section class="flex flex-col items-center py-6 px-2">
      <h2 class="font-semibold text-xl text-[#8F238B]">
        Copy the content you want to verify and paste here 👇
      </h2>
      <div
        class="flex flex-row rounded-lg bg-gray-200 w-4/5 h-80 drop-shadow-lg mt-6"
      >
        <div class="left flex flex-col flex-1 w-1/2 py-6 px-4">
          <p class="font-medium text-[#54264D] text-lg">Enter your text here</p>
          <form action="./predict.html" method="post" class="flex flex-col items-start my-2">
            <textarea
              type="text"
              class="h-48 w-full rounded-lg outline-none border-none text-left shadow-sm focus:outline-none focus:border-purple-500 focus:ring-purple-500 focus:ring-1 sm:text-sm"
            ></textarea>
            <button
              type="submit"
              class="bg-[#54264D] text-white px-4 py-2 rounded-3xl my-4 hover:bg-[#803374] hover:border-white hover:border-2 active:bg-[#803374] focus:outline-none focus:ring focus:ring-white"
            >
              Verify Text
            </button>
          </form>
        </div>

        <div class="right flex-1 py-6 px-4 flex flex-col">
          <p class="font-medium text-[#54264D] text-lg">Result👇</p>
        </div>
      </div>
    </section>
  </body>
</html>
